<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login </title>
</head>

<body>

    <form class="vh-100 gradient-custom" [formGroup]="loginForm" (ngSubmit)="sendLoginForm()">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-5 text-uppercase">Login</h2>
                                <!-- 
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>
                    -->
                                <div class="form-outline form-white mb-5">
                                    <input formControlName="user" type="text" class="form-control form-control-lg"
                                        required />
                                    <label class="form-label" for="user">Usuario</label>
                                    <div *ngIf="loginForm.get('user').errors && loginForm.get('user').touched"
                                        class="alert alert-danger d-flex align-items-center" role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-exclamation-diamond m-2"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z" />
                                            <path
                                                d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                                        </svg>
                                        <strong>
                                            <div>
                                                Ingrese un usuario
                                            </div>
                                        </strong>
                                    </div>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <input formControlName="pass" type="password"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="typePasswordX">Password</label>
                                    <div *ngIf="loginForm.get('pass').errors && loginForm.get('pass').touched"
                                        class="alert alert-danger d-flex align-items-center" role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-exclamation-diamond m-2"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z" />
                                            <path
                                                d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                                        </svg>
                                        <strong>
                                            <div>
                                                Ingrese su constraseña
                                            </div>
                                        </strong>
                                    </div>
                                </div>
                                <!--
                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>   -->
                                <button *ngIf="showButton" class="btn btn-outline-light btn-lg px-5 mt-5" type="submit"
                                    [disabled]="loginForm.invalid"> Ingresar </button>
                                <ng-container *ngIf="loading">
                                    <div class="text-center">
                                        <div class="spinner-border" role="status">
                                            <span class="visually-hidden"> </span>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container>
                                    <div *ngIf="errorMesagge" class="alert alert-danger d-flex align-items-center mt-5"
                                        role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-exclamation-diamond m-2"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z" />
                                            <path
                                                d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                                        </svg>
                                        <strong>
                                            <div>
                                                Usuario o contraseña invalido.
                                            </div>
                                        </strong>
                                    </div>
                                </ng-container>
                            </div>
                            <div>
                                <p class="mb-0"> <a href="#!" class="text-white-50 fw-bold"> Crear tu cuenta nueva </a>
                                </p>
                                <p class="mb-0"> <a href="#!" class="text-white-50 fw-bold"> Recordar cuenta </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>