<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> Not Found </title>
    </head>
    <body>
        <div class="d-flex align-items-center justify-content-center vh-100 gradient-custom">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> Pagina no encontrada.</p>
                <p class="lead">
                    La pagina ingresada no existe.
                  </p>
                  <button routerLink="/menu" class="btn btn-outline-light btn-lg px-5 mt-5" > Volver </button>
            </div>
        </div>
    </body>
</html>  


