<div class="container">
    <div class="row" >
        <div class="col-12" >
           <h3  class="navbar navbar-dark bg-dark text-light p-2">
            Edicion Pendiente 
           </h3>
        </div>
        <div class="col-12 p-1 d-flex justify-content-center" >
         <p class="fs-5 p-2" >
           ATENCION. Tiene una edicion pendiente.
         </p> 
        </div>
        <div class="col-12 d-flex justify-content-end p-2">
            <button class="btn btn-dark m-1" (click)="cancelDialog()"> Aceptar </button>
        </div>
    </div>
</div>